* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* root fontsize 1rem = 10px*/
html {
	font-size: 62.5%;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
	padding: 3rem;
}

.header {
	width: 100vw;
	position: fixed;
	top: 0;
	right: 0;
}

.top-menu {
	font-size: 1.6rem;
	color: black;
	background-color: #8cd0e3;
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
}

.top-right-menu {
	display: flex;
	justify-content: center;
}

.cart {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart-icon {
	height: 2.5rem;
}

.cart-title {
	margin-top: 1rem;
	font-size: 1rem;
}

.search {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.search__input {
	font-family: inherit;
	font-size: 1.25rem;
	color: inherit;

	border: none;
	padding: 0.7rem 2rem;

	width: 80%;
	height: 3rem;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin-right: -3.25rem;
}
.search__input:focus {
	outline: none;
	width: 100%;
}
.search__input::-webkit-input-placeholder {
	font-weight: 100;
	color: black;
}

.search__button {
	border: none;
}
.search__button:focus {
	outline: none;
}
.search__button:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}
.search__icon {
	height: 2rem;
	width: 2rem;
	fill: black;
}

.search-container {
	margin-right: auto;
}

.logo-container {
	margin-right: auto;
}

.logo {
	color: white;
}

.register {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-icon {
	height: 2.5rem;
}

.register-title {
	margin-top: 1rem;
	font-size: 1rem;
}

.bottom-menu {
	display: flex;
	justify-content: center;
	background-color: #8cd0e3;
}

.arrow {
	font-size: 1rem;
}

.sub-bottom-menu li {
	display: inline-block;
	margin-right: 50px;
}

.dropdown:hover .features-menu {
	display: flex;
	flex-direction: column;
	background: #8cd0e3;
	border-radius: 5px;
	padding-top: 60px;

	position: absolute; /* Add these */
	top: -25px;
	left: -30px;
	z-index: 1;
}

.features-menu {
	/* Add this as a new rule */
	display: none;
}

.features-menu li {
	list-style: none;
	border-bottom: 1px solid #fff;

	padding: 0 40px 10px 20px;
	margin: 10px;
}

.features-menu li:last-of-type {
	border-bottom: none;
}

.dropdown {
	position: relative;
}

.dropdown > span {
	z-index: 2;
	position: relative; /* This is important! */
	cursor: pointer;
}

.dropdown:hover .features-menu {
	/* This used to be `.features-menu` */
	display: flex; /* Leave everything else alone */
	flex-direction: column;
	background: #8cd0e3;
	/* ... */
}

.content {
	margin-top: 100px;
	height: 80vh;
	padding: 20px 20px;
}

.footer {
	padding: 20px 20px;
}

.btn,
.btn:link,
.btn:visited {
	text-decoration: none;
	padding: 0.8rem 2rem;
	display: inline-block;
	border-radius: 30rem;
	transition: all 0.2s;
	position: relative;
	font-size: 1rem;
	font-weight: 600;
	border: none;
	cursor: pointer;
	height: 4.5rem;
	text-align: center;
}

.btn:hover {
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}
.btn:active,
.btn:focus {
	outline: none;
	transform: translateY(-1px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--blue {
	background-color: #008080;

	color: #fff;
}
.btn--blue::after {
	background-color: #008080;
}
.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 100px;
	transition: all 0.4s;
}
.btn--animated {
	animation: movesInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
}

.btn-container {
	margin-right: 4.5rem;
}
